[submodule "pack/vendor/start/vim-commentary"]
	path = pack/vendor/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/vendor/start/vim-fugitive"]
	path = pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/vim-surround"]
	path = pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/vendor/start/vim-abolish"]
	path = pack/vendor/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "pack/vendor/start/vim-ripgrep"]
	path = pack/vendor/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "pack/vendor/start/vim-gutentags"]
	path = pack/vendor/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/vendor/start/asyncrun.vim"]
	path = pack/vendor/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "pack/vendor/start/vimtex"]
	path = pack/vendor/start/vimtex
	url = https://github.com/dakeryas/vimtex.git
[submodule "pack/user/opt/CurtineIncSw.vim"]
	path = pack/user/opt/CurtineIncSw.vim
	url = https://github.com/dakeryas/CurtineIncSw.vim.git
[submodule "pack/user/start/BlinkSearch.vim"]
	path = pack/user/start/BlinkSearch.vim
	url = https://github.com/dakeryas/BlinkSearch.vim.git
[submodule "pack/vendor/start/vim-plugin-ruscmd"]
	path = pack/vendor/start/vim-plugin-ruscmd
	url = https://github.com/powerman/vim-plugin-ruscmd
[submodule "pack/vendor/start/repeat"]
	path = pack/vendor/start/repeat
	url = https://github.com/tpope/vim-repeat.git/
[submodule "pack/user/start/StripTrailingSpaces.vim"]
	path = pack/user/start/StripTrailingSpaces.vim
	url = https://github.com/dakeryas/StripTrailingSpaces.vim.git
[submodule "pack/vendor/start/vim-notmuch-address.git"]
	path = pack/vendor/start/vim-notmuch-address.git
	url = https://github.com/adborden/vim-notmuch-address.git
[submodule "pack/vendor/start/vim-lumen"]
	path = pack/vendor/start/vim-lumen
	url = https://github.com/vimpostor/vim-lumen
[submodule "pack/vendor/start/sideways.vim"]
	path = pack/vendor/start/sideways.vim
	url = https://github.com/AndrewRadev/sideways.vim
[submodule "pack/vendor/start/vim-plugin-AnsiEsc"]
	path = pack/vendor/start/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule "pack/vendor/start/vim-systemd-syntax"]
	path = pack/vendor/start/vim-systemd-syntax
	url = https://github.com/wgwoods/vim-systemd-syntax
[submodule "pack/vendor/start/papercolor-theme"]
	path = pack/vendor/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "pack/vendor/start/ale"]
	path = pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
